# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# macOS
.DS_Store

database/
02-rag-pdf-chat/data/